---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
  }
</style>

<footer>
  <p>¡Más información sobre mi!</p>
  <Social platform="X" username="italowebdev" />
  <Social platform="Github" username="Francker1" />
</footer>
