---
import Social from "./Social.astro";
---

<footer>
  <p>¡Más información sobre mi!</p>
  <Social platform="X" username="italowebdev" />
  <Social platform="Github" username="Francker1" />
</footer>
